html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

body {
    background-image: url("public/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero.is-fullheight {
    max-height: 100vh;

    & > .hero-body {
        flex-shrink: 1;
        overflow-y: auto;
        display: block;
    }
}

div.cookieconsent-com---nb .cc-nb-main-container {
    padding: 1rem;
}

@media (min-width: 321px) {
    div.cookieconsent-com---nb-simple {
        right: 1em;
        bottom: 1em;
    }
}

.tabs {
    & a {
        color: #999999;
        &:hover {
            color: #BBBBBB;
        }
    }
}