name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    environment: test
    env:
      SHOULD_DEPLOY: ${{ github.ref == 'refs/heads/main' }}
    
    steps:
      - uses: actions/checkout@v2
        with:
          lfs: true

      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v1.8.2
        with:
          dotnet-version: '5.0'
          
      - name: Setup Yarn
        uses: DerYeger/yarn-setup-action@master
        with:
          node-version: 16

      - name: Azure Login
        uses: Azure/login@v1.4.0
        if: env.SHOULD_DEPLOY
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: ${{ env.SHOULD_DEPLOY && 'Deploy' || 'Build' }}
        run: dotnet run -- ${{ env.SHOULD_DEPLOY && 'azure' || 'bundle' }}
